[Unit]
Description=Agnetic OS StarAgent (System Monitor)
After=nats.service
Requires=nats.service

[Service]
Type=simple
User=tech
ExecStart=/home/tech/agnetic-os/agent/target/release/staragent
Restart=always
RestartSec=5

[Install]
WantedBy=agnetic-agent-mesh.target
